html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}

div#configSection {
}

div#configSection div.config {
    display:flex;
    flex-direction: row;
}

div#configSection div.config div.name {
    font-weight:bold;
    width: 200px;
}

div#config div.name {
    font-weight:bold;
}

